.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  z-index: 1;
  top: 0;
  object-fit: contain;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.header__center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  border: 1px solid lightgray;
}

.header__center > input {
  border: none;
  outline: none;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > .MuiSvgIcon-root {
  font-size: 30px;
  padding: 10px;
}
